/* Related to the main navnar */
.navbar-nav > li
{
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-nav > li > a:hover
{
	background-color: rgb(255, 0, 129);
}

.card-date{
	color:#b9aecc;
}

.carousel-inner img {
  margin: auto;
}

.card{
	text-align:center;
	content-align:center;
}

form{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.contactmail{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.contacttop{
	text-align:center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.articles{
	color:#decade;
	text-align:right;
}

.news{
	color:#908791;
}